## 01. Import Libraries

In [1]:
## Import Libraries
import pandas as pd
import numpy as np
import os

## 02. Import Data

In [2]:
#define path

path = r'/Users/piperdutcher/Documents/Achievement 4/04-2024 Instacart Basket Analysis'

In [3]:
# Import Data Set - Ords_Prods_merge

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_w_busy_days_times.pkl'))

In [4]:
# Import Data Set -

## 03. Reading Exercises

In [5]:
# create subset:
df = ords_prods_merge[:1000000]

In [6]:
df.shape

(1000000, 19)

In [7]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_label,busiest_day,busiest_days,busiest_hours,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Regularly busy hours,Fewest orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Regularly busy hours,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Regularly busy hours,Fewest orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Busiest hours,Fewest orders

In [8]:
# grouping data w pandas
df.groupby('product_name')

In [9]:
# use group by to:
# 1. Split data into groups based on criteria
# 2. Apply a function tp each group separately
# 3. Combine results into dataframe or alternative data structure (or new column in current df)

In [10]:
# aggregating data w agg()

df.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [11]:
#  the above return is the average # of orders per user for each department id
#  can help us determine best selling departments

In [12]:
# conducting the above without using agg()

df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [13]:
# performing multiple aggregations - simply add more arguments to code

df.groupby('department_id').agg({'order_number':['mean','min','max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [14]:
# Aggregating Data with tranform()
# creating a flag column (allows for segmented analysis)

# criteria for loyalty flag:

# max orders over 40 = "loyal customer"
# max orders over 10, but less than or equal to 40 = "regular customer"
# max orders under or equal to 10 = "new customer"

In [15]:
# Steps:
# 1. split data into groups based on user_id column
# 2. apply transform() on the order_number column to generate the max orders for each user
# 3. create a new "max_order" column to merge results of aggregation

#can be done in a single line of code:

df['max_order'] = df.groupby(['user_id'])['order_number'].transform(np.max)

# first create new column in data frame
# then groupby desired column
# finally transform on the column being aggregated

/var/folders/02/_ydtglj578xfqwjs1hm49rhc0000gn/T/ipykernel_24193/2754824375.py:8: FutureWarning: The provided callable <function max at 0x10b417b00> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df['max_order'] = df.groupby(['user_id'])['order_number'].transform(np.max)
/var/folders/02/_ydtglj578xfqwjs1hm49rhc0000gn/T/ipykernel_24193/2754824375.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['max_order'] = df.groupby(['user_id'])['order_number'].transform(np.max)

In [16]:
df.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_label,busiest_day,busiest_days,busiest_hours,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Regularly busy hours,Fewest orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Regularly busy hours,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Regularly busy hours,Fewest orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Busiest hours,Fewest orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest hours,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Regularly busy hours,Fewest orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest hours,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest hours,Most orders,22

In [17]:
# deriving columns with loc()

df.loc[df['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df.loc[(df['max_order'] <= 40) & (df['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df.loc[df['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

/var/folders/02/_ydtglj578xfqwjs1hm49rhc0000gn/T/ipykernel_24193/2875595065.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [18]:
df['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    463844
Loyal customer      335086
New customer        201070
Name: count, dtype: int64

In [19]:
# displaying only certain columns:

df[['user_id','loyalty_flag','order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43      New customer             6
22       43      New customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

## 04. Task

In [20]:
# find aggregated mean for order_number column (entire dataset)

ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# in the subset, department_id 16, 19, & 14 had the highest avg
# in the entire data frame, department 22, 10, 18 were the highest

# in subset, the lowest were: 17, 7, 20
# in the entire dataframe, the lowest were: 5, 8, 1

# not all department_id are represented in the subset

In [21]:
# create a loyalty flag for existing customers using transform() and loc()

# criteria for loyalty flag:

# max orders over 40 = "loyal customer"
# max orders over 10, but less than or equal to 40 = "regular customer"
# max orders under or equal to 10 = "new customer"

In [22]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/02/_ydtglj578xfqwjs1hm49rhc0000gn/T/ipykernel_24193/1681540670.py:1: FutureWarning: The provided callable <function max at 0x10b417b00> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [23]:
# deriving columns with loc()

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [24]:
ords_prods_merge.head(60)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_label,busiest_day,busiest_days,busiest_hours,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Regularly busy hours,Fewest orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Regularly busy hours,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Regularly busy hours,Fewest orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Busiest hours,Fewest orders,10,New customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders,10,New customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,10,New customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest hours,Most orders,10,New customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,10,New customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Regularly busy hours,Fewest orders,10,New customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,22,Regular customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders,22,Regular customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest hours,Most orders,22,Regular customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,22,Regular customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest hours,Most orders,22,Regular customer
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest hours,Most orders,9,New customer
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Most orders,9,New customer
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Regularly busy hours,Fewest orders,9,New customer
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Busiest hours,Most orders,33,Regular customer
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Regularly busy hours,Fewest orders,20,Regular customer
20,2231262,31,17,3,11,8.0,196,14,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Busiest hours,Most orders,20,Regular customer
21,2580647,43,6,4,16,4.0,196,9,0,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Regularly busy hours,Fewest orders,11,Regular customer
22,2187180,43,9,4,12,3.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Regularly busy hours,Most orders,11,Regular customer
23,2497897,52,1,1,9,NaN,196,4,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,27,Regular customer
24,1318871,52,2,1,10,7.0,196,5,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest hours,Most orders,27,Regular customer
25,1261384,52,3,1,10,7.0,196,3,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest hours,Most orders,27,Regular customer
26,580568,52,5,2,10,8.0,196,6,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest hours,Most orders,27,Regular customer
27,2428073,52,7,2,7,8.0,196,5,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders,27,Regular customer
28,342306,52,9,1,11,7.0,196,5,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest hours,Most orders,27,Regular customer
29,1520353,52,10,2,10,8.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest hours,Most orders,27,Regular customer
30,2542086,52,11,2,9,7.0,196,3,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders,27,Regular customer
31,944694,52,12,1,16,6.0,196,7,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,27,Regular customer
32,1268191,52,15,2,11,8.0,196,3,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest hours,Most orders,27,Regular customer
33,1122089,52,17,2,10,6.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest hours,Most orders,27,Regular customer
34,1498922,52,18,2,10,14.0,196,6,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest hours,Most orders,27,Regular customer
35,180919,52,19,3,8,8.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Regularly busy hours,Fewest orders,27,Regular customer
36,2695875,52,21,5,10,30.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest hours,Most orders,27,Regular customer
37,3205960,67,1,3,11,NaN,196,1,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Busiest hours,Most orders,24,Regular customer
38,970922,67,2,1,15,5.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest hours,Fewest orders,24,Regular customer
39,596585,67,3,1,13,7.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Most orders,24,Regular customer
40,2037087,67,4,2,9,8.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders,24,Regular customer
41,2474111,67,5,3,14,8.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Busiest hours,Most orders,24,Regular customer
42,1568481,67,6,3,12,7.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Regularly busy hours,Most orders,24,Regular customer
43,2048527,67,8,2,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest hours,Most orders,24,Regular customer
44,2389031,67,9,2,14,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest hours,Most orders,24,Regular customer
45,2378562,67,10,1,10,6.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest hours,Most orders,24,Regular customer
46,1515698,67,11,1,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest hours,Most orders,24,Regular customer
47,1928050,67,12,2,12,8.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Most orders,24,Regular customer
48,1949274,67,13,1,10,6.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest hours,Most orders,24,Regular customer
49,551869,67,14,1,9,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,24,Regular customer
50,768572,67,16,4,10,9.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Busiest hours,Most orders,24,Regular customer
51,150528,67,18,5,16,4.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders,24,Regular customer
52,29758,67,19,0,14,9.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Busiest day,Busiest days,Busiest hours,Most orders,24,Regular customer
53,1558976,67,21,1,9,5.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,24,Regular customer
54,863974,67,22,1,11,14.0,196,3,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest hours,Most orders,24,Regular customer
55,2308399,67,23,1,14,14.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest hours,Most orders,24,Regular customer
56,2759128,81,3,1,9,14.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,7,New customer
57,1812985,81,5,2,20,30.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders,7,New customer
58,1889835,82,1,3,15,NaN,196,6,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Busiest hours,Fewest orders,19,Regular customer
59,499460,82,3,5,10,5.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest hours,Most orders,19,Regular customer

In [25]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [27]:
# determine spending habits of each type of customer by using product prices ('price_label' column):
# group by loyalty_flag

# display desired columns:

ords_prods_merge[['user_id','price_label','loyalty_flag']]

          user_id        price_label      loyalty_flag
0               1  Mid-range product      New customer
1               1  Mid-range product      New customer
2               1  Mid-range product      New customer
3               1  Mid-range product      New customer
4               1  Mid-range product      New customer
...           ...                ...               ...
32404854   202557  Low-range product  Regular customer
32404855   202557  Low-range product  Regular customer
32404856   203436  Mid-range product      New customer
32404857   203436  Mid-range product      New customer
32404858   205420  Mid-range product  Regular customer

[32404859 rows x 3 columns]

In [29]:
# finding counts of each price_label grouped by loyalty_flag

ords_prods_merge.groupby('loyalty_flag')['price_label'].value_counts()

loyalty_flag      price_label
Loyal customer    Mid-range product      6949467
                  Low-range product      3214690
                  High-range product      119936
New customer      Mid-range product      4205569
                  Low-range product      1952769
                  High-range product       85652
Regular customer  Mid-range product     10705824
                  Low-range product      4958862
                  High-range product      212090
Name: count, dtype: int64

In [30]:
# regular customers order the highest # of all product types
# new customers order the least amount of low-range products

ords_prods_merge.value_counts('loyalty_flag')

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [31]:
# there are more regular customers than other types of customers, so it makes sense that they would purchase more of all types of products

In [32]:
# finding average, min, max prices for each customer type

ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [33]:
# new customers have the highest average item price
# loyal customers have the lowest average item price

In [34]:
# create a new spending flag: for each user, based on average spend amount, label high or low spender

#Flag criterias:
# mean of product prices purchased by a user is <10 then 'Low spender'
# mean of product prices purchased by a user is => 10 then 'High spender'

In [37]:
# first create a new column for average spent by each user

ords_prods_merge['mean_prod_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/02/_ydtglj578xfqwjs1hm49rhc0000gn/T/ipykernel_24193/977509254.py:3: FutureWarning: The provided callable <function mean at 0x10b420540> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['mean_prod_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [38]:
ords_prods_merge.head(25)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_label,busiest_day,busiest_days,busiest_hours,busiest_period_of_day,max_order,loyalty_flag,mean_prod_price
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Regularly busy hours,Fewest orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Regularly busy hours,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least busy,Slowest days,Regularly busy hours,Fewest orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least busy,Slowest days,Busiest hours,Fewest orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest hours,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least busy,Slowest days,Regularly busy hours,Fewest orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest hours,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest hours,Most orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest hours,Most orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy hours,Most orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least busy,Slowest days,Regularly busy hours,Fewest orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Busiest hours,Most orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Regularly busy hours,Fewest orders,20,Regular customer,8.137793
20,2231262,31,17,3,11,8.0,196,14,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Busiest hours,Most orders,20,Regular customer,8.137793
21,2580647,43,6,4,16,4.0,196,9,0,Soda,...,9.0,both,Mid-range product,Least busy,Slowest days,Regularly busy hours,Fewest orders,11,Regular customer,7.444898
22,2187180,43,9,4,12,3.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least busy,Slowest days,Regularly busy hours,Most orders,11,Regular customer,7.444898
23,2497897,52,1,1,9,NaN,196,4,0,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,27,Regular customer,6.356287
24,1318871,52,2,1,10,7.0,196,5,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest hours,Most orders,27,Regular customer,6.356287

In [40]:
#Flag criterias:
# mean of product prices purchased by a user is <10 then 'Low spender'
# mean of product prices purchased by a user is => 10 then 'High spender'

ords_prods_merge.loc[ords_prods_merge['mean_prod_price'] < 10, 'spender_type'] = 'Low Spender'
ords_prods_merge.loc[ords_prods_merge['mean_prod_price'] >= 10, 'spender_type'] = 'High Spender'

In [42]:
ords_prods_merge['spender_type'].value_counts(dropna = False)

spender_type
Low Spender     31770614
High Spender      634245
Name: count, dtype: int64

In [43]:
# the majority of spenders are low spenders (average product purchase price is under $10)

In [44]:
ords_prods_merge[['user_id','loyalty_flag','mean_prod_price','spender_type']]

          user_id      loyalty_flag  mean_prod_price spender_type
0               1      New customer         6.367797  Low Spender
1               1      New customer         6.367797  Low Spender
2               1      New customer         6.367797  Low Spender
3               1      New customer         6.367797  Low Spender
4               1      New customer         6.367797  Low Spender
...           ...               ...              ...          ...
32404854   202557  Regular customer         6.905655  Low Spender
32404855   202557  Regular customer         6.905655  Low Spender
32404856   203436      New customer         7.631579  Low Spender
32404857   203436      New customer         7.631579  Low Spender
32404858   205420  Regular customer         7.684746  Low Spender

[32404859 rows x 4 columns]

In [45]:
# create an order frequency flag
# this tracks order frequency using median of days_since_since_prior_order

#criteria:
# if median is >20 then labeled "non-frequent customer"
# if median is >10 or <= 20 then "regular customer"
# if median is <= 10, then "frequent customer"

In [46]:
# will create a new column: "median_since_last_order"

ords_prods_merge['median_since_last_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

/var/folders/02/_ydtglj578xfqwjs1hm49rhc0000gn/T/ipykernel_24193/3096406380.py:3: FutureWarning: The provided callable <function median at 0x10b5605e0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_since_last_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [47]:
# create flag & new column using loc()

# new column w flag: "customer_frequency_type"

ords_prods_merge.loc[ords_prods_merge['median_since_last_order'] > 20, 'customer_frequency_type'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_since_last_order'] <= 20) & (ords_prods_merge['median_since_last_order'] > 10), 'customer_frequency_type'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_since_last_order'] <= 10, 'customer_frequency_type'] = 'Frequent customer'

In [48]:
# checking counts of new column:
ords_prods_merge['customer_frequency_type'].value_counts(dropna = False)

customer_frequency_type
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
nan                             5
Name: count, dtype: int64

In [49]:
# checking new column:

ords_prods_merge[['user_id','median_since_last_order', 'customer_frequency_type']].head(60)

    user_id  median_since_last_order customer_frequency_type
0         1                     20.5   Non-frequent customer
1         1                     20.5   Non-frequent customer
2         1                     20.5   Non-frequent customer
3         1                     20.5   Non-frequent customer
4         1                     20.5   Non-frequent customer
5         1                     20.5   Non-frequent customer
6         1                     20.5   Non-frequent customer
7         1                     20.5   Non-frequent customer
8         1                     20.5   Non-frequent customer
9         1                     20.5   Non-frequent customer
10       15                     10.0       Frequent customer
11       15                     10.0       Frequent customer
12       15                     10.0       Frequent customer
13       15                     10.0       Frequent customer
14       15                     10.0       Frequent customer
15       19                      6.0       Frequent customer
16       19                      6.0       Frequent customer
17       19                      6.0       Frequent customer
18       21                      7.5       Frequent customer
19       31                      6.0       Frequent customer
20       31                      6.0       Frequent customer
21       43                     10.0       Frequent customer
22       43                     10.0       Frequent customer
23       52                      8.0       Frequent customer
24       52                      8.0       Frequent customer
25       52                      8.0       Frequent customer
26       52                      8.0       Frequent customer
27       52                      8.0       Frequent customer
28       52                      8.0       Frequent customer
29       52                      8.0       Frequent customer
30       52                      8.0       Frequent customer
31       52                      8.0       Frequent customer
32       52                      8.0       Frequent customer
33       52                      8.0       Frequent customer
34       52                      8.0       Frequent customer
35       52                      8.0       Frequent customer
36       52                      8.0       Frequent customer
37       67                      7.0       Frequent customer
38       67                      7.0       Frequent customer
39       67                      7.0       Frequent customer
40       67                      7.0       Frequent customer
41       67                      7.0       Frequent customer
42       67                      7.0       Frequent customer
43       67                      7.0       Frequent customer
44       67                      7.0       Frequent customer
45       67                      7.0       Frequent customer
46       67                      7.0       Frequent customer
47       67                      7.0       Frequent customer
48       67                      7.0       Frequent customer
49       67                      7.0       Frequent customer
50       67                      7.0       Frequent customer
51       67                      7.0       Frequent customer
52       67                      7.0       Frequent customer
53       67                      7.0       Frequent customer
54       67                      7.0       Frequent customer
55       67                      7.0       Frequent customer
56       81                     30.0   Non-frequent customer
57       81                     30.0   Non-frequent customer
58       82                     11.5        Regular customer
59       82                     11.5        Regular customer

In [50]:
# Export as .pkl

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_w_flags.pkl'))

In [51]:
ords_prods_merge.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,busiest_day,busiest_days,busiest_hours,busiest_period_of_day,max_order,loyalty_flag,mean_prod_price,spender_type,median_since_last_order,customer_frequency_type
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Regularly busy,Slowest days,Regularly busy hours,Fewest orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Regularly busy,Slowest days,Regularly busy hours,Most orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Least busy,Slowest days,Regularly busy hours,Fewest orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Least busy,Slowest days,Busiest hours,Fewest orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,Regularly busy,Regularly busy,Regularly busy hours,Fewest orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,Regularly busy,Busiest days,Busiest hours,Most orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,Regularly busy,Busiest days,Regularly busy hours,Fewest orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,Least busy,Slowest days,Regularly busy hours,Fewest orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer

NameError: name 'ords_prods_merge' is not defined